{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
.sent {
  float: right;

}
.sent span{
margin-right: 5px;
margin-left: 20px;}
.left {
  float: right;
  margin-right: 20px;
margin-left: 5px;
#scroll * {
  overflow-anchor: none;
}
}

</style>
<br>

<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
<div class="card sticky-top">
<h2 class="text-center">welcome to chatroom {{ room_name }}</h2>
<h4 class="text-center"> {{ username }}</h4>
</div>
<div class="jumbotron jumbotron-fluid" id="scroll">
  <div class="container">
	  <ul class="list-group" id="chat-log">

	  </ul>
      <br>
	  <br>
    <input type="text" class="form-control" id="chat-message-input">
      <br>
	  <button id="chat-message-submit" class="btn btn-primary" type="button" value="Send" onclick = "gfg_Run()">Send</button>

</div>
</div>

<script>
$(document).ready(function() {
            $("button").click(function() {
                $(document).scrollTop($(document).height());
            });
        });
    </script>
{{ room_name|json_script:"room-name" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
<script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        var endpoint='';
        var username = {{ username }};

        console.log(window.location);
        var wsstart='ws://'+window.location.host+'/ws'+window.location.pathname;
        console.log(wsstart);
        const chatSocket = new ReconnectingWebSocket(wsstart);


        chatSocket.onopen=function(e){
        console.log("web scoket is opened from the front end");

        };
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data);
            var author = data['author'];
            var li=document.createElement('li');


            var division=document.createElement('div');
            var msg=document.createElement('h5');
              msg.textContent=data.message;



       var auth = document.createElement('span');
       auth.textContent = author ;

      if (author === username) {
        division.className = 'sent';
      } else {
        division.className = 'replies';
      }

              msg.appendChild(auth);

              division.appendChild(msg);
              li.appendChild(division);
			  document.querySelector('#chat-log').appendChild(li);
			  $('li').last().addClass("list-group-item");
			  $('span').last().addClass("badge badge-pill badge-primary");
            console.log("message came from websocket");
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };


        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            console.log("i am working upto here send");
            chatSocket.send(JSON.stringify({
                'message': message,
                'from': username
            }));
            messageInputDom.value = '';
        };

    </script>
{% endblock %}