

{% load static %}
<!doctype html>
<html lang="en">
  <head>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <link rel="stylesheet" href="leaflet.css">
    <script src="jquery-2.1.0.min.js"></script>
    <script src="leaflet.js"></script>
    <script src="osmfield.js"></script>
    <!-- Bootstrap CSS -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>

    </style>
  </head>
  <body>


  <div class="container login-container">
      <div class="shadow-sm p-3 mb-5 bg-white rounded">
      <div class="row">
        <div class="col-md-4 ads">
            <div class="profile-img">
                        <img class="img-fluid"  src="{% static 'images/bck.jpg' %}" height="500" width="300">
                        </div>
            </div>
            <div class="col-md-6 login-form">
                <div class="text-center">
                    <div class="profile-img">

                        </div>
                </div>


                        <h1 class="text-center">LOG-IN</h1>


            <form>
                {% csrf_token %}
                <i class="material-icons md-88">person</i>
                <div class="form-group">
                  <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-lg btn-primary">Log in <i class="material-icons md-48">done_all</i></button>
                </div>
                <div class="form-group forget-password">
                    <div class="row">
                        <div class="col">
                             <a href="#">Forget Password?</a>
                        </div>
                            <div class="col">
                             <a href="#">Done have account, Signup here!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
      </div>
  </div>
  </div>
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small">@food_poverty</p>
        </div>
    </footer>
</body>
</html>

