{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<br>
 {% if user.is_authenticated %}
<h1 class="text-center">{{ user.get_username }}</h1>
<div class="container">
  <h4>your room is created </h4>
    <div class="row">
        <div class="col">
    <textarea id="chat-log" cols="100" rows="10"></textarea><br>
            </div>
        <div class="col">
    <input id="chat-message-input" type="text" size="100"><br>
        </div>
        <div class="col">
    <input id="chat-message-submit" class="btn btn-primary" type="button" value="Send">

</div>
        </div>

</div>
    {{ room_name|json_script:"room-name" }}
{% else %}
<h3 class="text-center">OOPS! you need to login to use our chat rooms.</h3><br>
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        var endpoint='';
        var user='{{ user.get_username }}';
        console.log(window.location);
        var wsstart='ws://'+window.location.host+'/ws'+window.location.pathname;
        console.log(wsstart);
        const chatSocket = new ReconnectingWebSocket(wsstart);


        chatSocket.onopen=function(e){
        console.log("web scoket is opened from the front end");

        };
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + ":sent__by--"+ user +'\n');
            console.log("message came from websocket");
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };


        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };

    </script>

{% endblock %}